body{
    background-image: url("backgroud.jpg");
}
.image{
    display: flex;
    justify-content: center;
}
.logo{
    width: 100px;
    height: 80px;
}
.text{
    display: flex;
    justify-content: space-evenly;
}
.name{
    color: blue;
}
.container{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    justify-content: space-evenly;
    height: 1000px;
 
}
.music{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}
h3{
    color: white;
}